<!DOCTYPE html>
<html>
  <head>
    <title>Last.fm to Spotify</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Last.fm to Spotify</h1>
      <form method="post" action="{{ url_for('index') }}">
        <label for="user_agent">User Agent:</label>
        <input type="text" id="user_agent" name="user_agent"><br><br>

        <label for="limit">Limit:</label>
        <input type="text" id="limit" name="limit"><br><br>

        <label for="period">Period:</label>
        <select id="period" name="period">
          <option value="overall">Overall</option>
          <option value="7day">Last 7 Days</option>
          <option value="1month">Last Month</option>
          <option value="3month">Last 3 Months</option>
          <option value="6month">Last 6 Months</option>
          <option value="12month">Last 12 Months</option>
        </select><br><br>

        <input type="submit" value="Create Playlist">
      </form>
    </div>
  </body>
</html>
