{% extends "layout.html" %}

{% block title %}
Lastfm Web Crawler
{% endblock %}

{% block main %}
  <div class="container">
    <h1>Lastfm Web Crawler</h1>

    <form onsubmit="success();" action="/" method="post">
      <div class="form-group">
        <label for="username">Lastfm Username</label>
        <input name="username" id="username" type="text" class="form-control" placeholder="Enter your Lastfm username">
      </div>

      <div class="form-group">
        <label for="songs">Playlist Size</label>
        <input name="songs" id="songs" type="text" class="form-control" placeholder="Enter playlist size">
      </div>

      <div class="form-group">
        <label for="period">Time Period</label>
        <select name="period" id="period" class="form-control">
          <option value="overall">All time</option>
          <option value="7day">Last 7 Days</option>
          <option value="1month">Last 30 Days</option>
          <option value="3month">Last 90 Days</option>
          <option value="6month">Last 180 Days</option>
          <option value="12month">Last 365 Days</option>
        </select>
      </div>

      <div class="form-group">
        <label for="pc">Include Playcount</label>
        <select name="pc" id="pc" class="form-control">
          <option value="T">Yes</option>
          <option value="F">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="filter">Include Filter</label>
        <select name="filter" id="filter" class="form-control">
          <option value="F">No</option>
          <option value="T">Yes</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2 class="instructions">Instructions</h2>
    <p class="instructions">In the form type in your Lastfm username, how many songs you want in your playlist, and the time period. Then click the 'Tune My Music' link to import the CSV into Spotify.</p>
  </div>
{% endblock %}
